/* Global Styles */
html {
  scroll-behavior: smooth;
}

body {
  background-color: #000000; /* tailwind bg-background */
  color: #ffffff; /* tailwind text-text-main */
  font-family: "Inter", "ui-sans-serif", "system-ui", "sans-serif"; /* tailwind font-sans */
}

@media (max-width: 640px) {
  html {
    font-size: 87.5%;
  }

  body {
    -webkit-text-size-adjust: 100%;
  }
}

@media (pointer: fine) {
  [data-cursor-interactive] {
    cursor: none;
  }
}

